.match-thumbnail{
    margin: 10px;
    width: 400px;
}

.match-content{
    
    height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
}

.match-content::-webkit-scrollbar{
    width: 2px;
    background: gray;
}

.match-actions{
    text-align: right;
}